<link href="https://fonts.googleapis.com/css?family=Titan+One&display=swap" rel="stylesheet"> 
<style>
.fontType{
  font-family: 'Titan One', cursive;
</style>


<!DOCTYPE html>
<html lang="en" xmlns=th="http://www.thymeleaf.org"
>
<head>
<meta charset="ISO-8859-1">
<link href="https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap" rel="stylesheet"> 
<title>Chuck Norris Jokes</title>
</head>
<body>

<h1 class="fontType">Chuckkk! Norisss! Jokesss!</h1>

<p class="fontType" th:text="${joke}">Insert Joke Here!!!</p>

</body>
</html>



